<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicants</title>
</head>
<body>
    <H1>Applicants</H1>
    <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/applicants/add">Add Applicant</a>
    <table border="black">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Position</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
          <% for(let i = 0;i< data.length; i++ ) { %>
        <tr>
         
          <td><%= data[i].fullName() %></td>
          <td><%= calculateAge(data[i].birth_date.toISOString().substring(0, 4)) %></td>
          <td><%= data[i].email%></td>
          <td><%= data[i].position%></td>
          <td><%= data[i].gender%></td>
     
          <td>
            <a href="/applicants/edit/<%=data[i].id %>"> Edit</a> |
            <a href="/applicants/delete/<%=data[i].id %>"> Delete</a> |
            <a href="/applicants/schedule/<%=data[i].id %>"> Schedule</a>
        </tr>
        <% } %>
           
          
</body>
</html>