<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Interviewer</title>
</head>
<body>
    <a href="/applicants"> List Applicants</a>
    <a href="/interviewers"> List Interviewers</a>
    <br>
    <h1>Edit Interviewer</h1>
    <br>
    <form method="POST">
        <label >First Name:</label><br>
        <input type="text" id="first_name" name="first_name" value="<%= data.first_name %>"><br>
        <label >Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" value="<%= data.last_name %>"><br>
        <label >Email:</label><br>
        <input type="email" id="email" name="email" value="<%= data.email %>"><br>
        <label >Birth Date:</label><br>
        <input type="date" id="birth_date" name="birth_date" value="<%= data.birth_date.toISOString().substring(0, 10) %>"><br>

        

        <label >Department:</label><br>
        <input type="radio" id="Human Resources" name="department" value="Human Resources"  <%= data.position === "Human Resources" ? "checked" : "" %>>
        <label >Human Resources</label><br>
        <input type="radio" id="Information Technology" name="department" value="Information Technology"  <%= data.position === "Information Technology" ? "checked" : "" %>>
        <label >Information Technology</label><br>
        <input type="radio" id="Sales & Marketing" name="department" value="Sales & Marketing"  <%= data.position === "Sales & Marketing" ? "checked" : "" %>>
        <label >Sales & Marketing</label><br>
        


        <label >Gender:</label><br>
        <input type="radio" id="male" name="gender" value="Male" <%= data.gender === "Male" ? "checked" : "" %>>
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="Female" <%= data.gender === "Female" ? "checked" : "" %>>
        <label for="female">Female</label><br>
        
        <input type="submit" value="Submit">
      </form> 
    
</body>
</html>